.orders {
  padding: 5%;
  padding-bottom: 20%;
  &__header {
    font-size: 35px;
    color: #ff9314;
    flex-grow: 1;
    text-align: center;
    margin-left: -15%;
  }
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-box {
    padding: 5%;
    background-color: #fff;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      margin-right: 20px;
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    & span {
      margin: 5px;
    }
  }
}
