.rewards {
  &__header {
    text-align: center;
    color: #ff9314;
    font-size: 35px;
    margin: 0;
  }
  &__paragraph {
    font-size: 18px;
    & span {
      font-size: 21px;
      color: #ff9314;
    }
  }
  &__list {
    border: 2px solid #ff9314;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    overflow: hidden;
    & button {
      margin-top: -2%;
      padding: 6%;
      background-color: transparent;
      border: none;
      animation: changer 2s infinite;
    }
  }
}

@keyframes changer {
  0% {
    color: #000;
  }
  25% {
    color: blue;
  }
  50% {
    color: rgb(10, 209, 248);
  }
  75% {
    color: red;
  }

  100% {
    color: #000;
  }
}
