.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #e5e5e5;

  &-img {
    margin: 0;
    max-width: 100%;
    border-radius: 0px 0px 390px 390px / 0px 0px 200px 200px;
    overflow: hidden;
    max-height: 70%;
  }
  &-text {
    color: #321d0b;
    font-size: 3em;
    max-width: 50%;
    margin: auto;
    text-align: center;
  }
}

.main-img img {
  width: 100%;
}
