.edit {
  padding: 5%;
  border: 1px solid #321d0b;
  border-radius: 8px;
  margin-top: 10%;
  background-color: #e5e5e5;
  &__account {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    & button {
      border: none;
      background-color: transparent;
      padding: 0;
      height: 20px;
      margin-top: 30px;
      &.btn-margin {
        margin-top: 15px;
      }
    }
    & input {
      height: 40px;
      width: 90%;
      outline: none;
      margin: 5px;
      padding-left: 10px;
      border-radius: 15px;
      border: none;
      box-shadow: inset 0px -57px 50px -80px rgba(35, 37, 101, 1);
    }
    & span {
      font-size: 1em;
    }
  }
}
